
@media only screen and (max-width: 992px) {
    #logoIcon {
        display: none;
    }
    #logoIcon2 {
        display: block!important;
    }
}

.navbar .nav-item .nav-link .fa {
    padding-right: 6px;
    padding-left: 8px;
}

nav div ul li {
    margin: 3px 4px;
    border-radius: 3px;
    text-align: center;
}

.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
    border-radius: 3px!important;
    height: 100%;
}

.view {
    background: url("Images/Parliament_at_Sunset.JPG")no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.animated {
    animation-duration: 2s;
}

.parallax { 
    /* The image used */
    background-image: url(Images/Parliament_Inside.jpg);
  
    /* Set a height */
    height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  div.card.card-img-top {
        background-position: center;
        background-size: cover;
  }

@media only screen and (max-width: 992px) {
    .view {
        background-attachment: scroll;
    }
    .parallax {
        background-attachment: scroll;
    }
}

#ToTopButton {
    display: none;
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4rem;
}

html,
body,
header,
.view {
  height: 100%;
}

footer div .py-5 {
    padding-bottom: 15px!important;
    padding-top: 15px!important;
    
}

footer div.col-md-12 div.footer-copyright {
    background-color: #1565c0!important;
}